@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #111111;
  color: #ffffff;
  font-family: "Inter";
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

#mainApp {
  margin: 0 30px;
}

#logo {
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #828282;
  padding-left: 3rem;
}

#logo a {
  color: #ffffff;
  opacity: 0.85;
}

#logo a:hover {
  color: #b967e1;
  opacity: 1;
}

#logo img {
  height: 4em;
  margin-bottom: 0.75rem;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28em, 28em));
  align-items: center;
  justify-content: center;
}

.krajeUpHolder {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 80px;
  top: 56.75px;
  gap: 0.5rem;
  opacity: 1;
}

.krajeUpHolder i:hover {
  color: #b967e1;
  opacity: 1;
}

#krajeItem {
  display: inline-block;
  position: relative;
}

#krajeItem img {
  height: 2rem;
  border-radius: 0.5rem;
  opacity: 0.9;
  outline: rgba(184, 103, 225, 0.40) 0.5rem solid;
  transition: outline 0.2s ease;
}

#krajeItem:hover img {
  outline: rgba(184, 103, 225, 0.40) 0.8rem solid;
}

.start {
  display: flex;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-image: none;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
  display: flex;
  min-height: 252px;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
}

#czasDiv {
  align-self: flex-start;
  margin-left: 10px;
  margin-top: 10px;
  width: 12rem;
}

#streamIcon {
  align-self: flex-end;
  font-size: 2rem;
  color: #fff;
  display: flex;
  position: absolute;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  gap: 0.5rem;
}

#video:hover {
  color: #b967e1;
  transition: 0.2s;
  cursor: pointer;
}

#map {
  color: #fff;
}

#map:hover {
  color: #b967e1;
  transition: 0.2s;
  cursor: pointer;
}

#noStreamIcon {
  align-self: flex-end;
  font-size: 2rem;
  color: #fff;
  position: absolute;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  gap: 0.5rem;
}

#czasElement {
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 0.5rem;
  background: rgba(17, 17, 17, 0.45);
  font-style: italic;
  font-weight: 800;
  color: #ffffff;
  padding: 0.5rem 0.75rem;
  text-align: center;
}

#nazwaMisji {
  color: #fff;
  text-align: right;
  width: 100%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  align-self: flex-end;
  font-size: 2rem;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  padding-right: 4px;
}

.nazwaRakiety {
  color: #fff;
  text-align: right;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 4px;
}

.info {
  display: flex-end;
  margin-right: 0.75rem;
  margin-bottom: 5%;
}

.fot {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2.6rem;
  font-size: 0.85rem;
  color: #828282;
}

.fot a {
  color: #fff;
  opacity: 0.85;
}

.fot a:hover {
  color: #b967e1;
  transition: 0.2s;
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 955px) {
  .krajeUpHolder {
    right: 30px;
  }

  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -120px;
  }

  .fot {
    margin-left: 0%;
    margin-right: -6%;
  }
}

@media screen and (max-width: 440px) {
  #logo {
    margin-left: -100px;
  }

  #app {
    grid-template-columns: repeat(auto-fit, minmax(27em, 27em));
  }
}

@media screen and (max-width: 400px) {
  #logo {
    margin-left: -80px;
  }

  #app {
    grid-template-columns: repeat(auto-fit, minmax(26em, 26em));
  }
}

@media screen and (max-width: 380px) {
  #logo {
    margin-left: -40px;
  }

  #nazwaMisji {
    font-size: 1.65rem;
  }
  .text {
    width: 25em;
  }

  #app {
    grid-template-columns: repeat(auto-fit, minmax(24em, 24em));
  }
}